footer {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    overflow: hidden;
    padding-top: 6px;
    border-top: 1px solid gainsboro;
    background-color: #fff;

    a {
      text-decoration: none;
    }

    .row {
        width: 100%;
        max-width: 940px;
        margin: 0 auto;
        position: relative;
        padding: 0;

        li {
            float:left;
            width:20%;
            padding-bottom: 15px;
            list-style-type: none;
            text-align: center;
            box-sizing: border-box;
            border-left: 1px solid gainsboro;

            &:last-child {
                border-right: 1px solid gainsboro;
            }

            div, a {
                color: #888888;
                text-transform: uppercase;
                font-size: 1.2rem;
                cursor:pointer;
            }
        }
    }
}
