header {
  //z-index: 999;
    width: 100%;
    padding-top: 17px;
    overflow: hidden;
    padding-bottom: 6px;
    border-bottom: 1px solid gainsboro;

    a {
      text-decoration: none;
    }

    .row {
        width: 100%;
        max-width: 940px;
        margin: 0 auto;
        position: relative;
        padding: 0 2%;


        .logo {
            width: 50px;
            font-size: 25px;
            color: #8f8f8f;
            float: left;
            display: block;
            line-height: 1;
            margin-bottom: 10px;

            @media (max-width: 750px) {
                float: none;
            }
        }

        nav {
            float: right;
            width: 60%;

            ul {
                list-style: none;
                overflow: hidden;
                text-align: right;
                float: right;

                li {
                    display: inline-block;
                    margin-left: 35px;
                    line-height: 1.5;

                    @media (max-width: 750px) {
                        width: 100%;
                        padding: 7px 0;
                        margin: 0;
                    }

                }

                a {
                    color: #888888;
                    text-transform: uppercase;
                    font-size: 12px;
                }

                @media (max-width: 750px) {
                    padding-top: 10px;
                    margin-bottom: 22px;
                    float: left;
                    text-align: center;
                    width: 100%;
                }
            }

            @media (max-width: 750px) {
                width: 100%;
            }
        }

        .mobile-toggle {
            display: none;
            cursor: pointer;
            font-size: 20px;
            position: absolute;
            right: 22px;
            top: 0;
            width: 30px;

            span {
                width: 30px;
                height: 4px;
                margin-bottom: 6px;
                border-radius: 1000px;
                background: #8f8f8f;
                display: block;
            }

            @media (max-width: 750px) {
                display: block;
            }
        }
    }

    @media (max-width: 750px) {
        padding-top: 25px;
    }
}
