@import 'header.scss';
@import 'login-form.scss';
@import 'explain.scss';
@import 'search.scss';
@import 'homeTop.scss';
@import 'myArticles.scss';
@import 'footer.scss';
@import 'dictionary.scss';
@import 'wordIndex.scss';
@import 'wordIndexButton.scss';

html {
  font-size: 62.5%;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}
