.myArticles {
    position: absolute;
    width: 100%;

    h1 {
        margin: 0;
        padding: 0;
    }

    .userName {
        max-width: 940px;
        margin: 0 auto;
        padding: 0;

        .userNameBox {
          width: 98%;
          margin: 0 auto;
          text-align: center;
          background-color: #fff;
          border-bottom: 1px double gainsboro;
        }
    }

    ul {
        max-width: 940px;
        margin: 0 auto;
        padding: 0;

        li {
            width: 48%;
            height: 100px;
            margin: 0 1%;
            float: left;
            display: block;
            list-style: none;
            background-color: #fff;
            border-bottom: 1px solid gainsboro;

            .result-box {
                display: block;
                margin: 2%;
                overflow: hidden;
                color: black;

                h1 {
                    width: 100%;
                    text-overflow: ellipsis;
                    // ２行目突入を禁止する
                    white-space: nowrap;
                    text-decoration: none;
                    color: #555;
                    margin: 0;

                    a {
                        text-decoration: none;
                        color: #555;
                    }
                }

                p {
                    margin-top: 0;
                }
            }

            @media (max-width: 750px) {
                width: 98%;
            }
        }
    }
}
