section {
    position: absolute;
    width: 100%;
    height: 3000%;
    z-index: 998;
    margin-top: 46px;
    background-color: rgba(0, 0, 0, 0.5);

    ul {
        max-width: 940px;
        margin: 0 auto;
        margin-top: 10px;
        padding: 0;

        li {
            width: 48%;
            height: 80px;
            margin: 0 1%;
            float: left;
            display: block;
            list-style: none;
            background-color: #fff;
            border-bottom: 1px solid gainsboro;

            .result-box {
                height: 65px;
                display: block;
                margin: 2%;
                overflow: hidden;
                color: #333;

                h1 {
                    width: 100%;
                    font-size: 2rem;
                    text-overflow: ellipsis;
                    // ２行目突入を禁止する
                    white-space: nowrap;
                    margin: 0
                }

                .result-box-text {
                    font-size: 1.4rem;
                    margin-top: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    // ２行目突入を禁止する
                    white-space: nowrap;
                }
            }

            @media (max-width: 750px) {
                width: 98%;
            }
        }
    }
}
