.wordIndex {
    position: absolute;
    width: 100%;

    h1 {
        margin: 0;
        padding: 0;
    }

    .userName {
        max-width: 940px;
        margin: 0 auto;
        padding: 0;

        .userNameBox {
          width: 98%;
          margin: 0 auto;
          text-align: center;
          color: #333;
          background-color: #fff;
          border-bottom: 1px double gainsboro;
        }
    }

    ul {
        max-width: 940px;
        margin: 0 auto;
        padding: 0;

        li {
            width: 48%;
            height: 140px;
            margin: 0 1%;
            float: left;
            display: block;
            list-style: none;
            background-color: #fff;
            border-bottom: 1px solid gainsboro;

            .result-box {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;

                .result-box-text {

                    margin: 0 5px;

                    h1 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        // ２行目突入を禁止する
                        white-space: nowrap;
                        color: #333;
                    }

                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-top: 5px;
                        color: #333;
                        font-size: 1.4rem;
                    }

                    p.show-switch {
                        float: right;
                        margin: 2px 20px 0 0;
                        font-size: 1.6rem;
                    }

                    i {
                        font-size: 2.5rem;
                        float: right;
                        margin-top: 1px;
                        margin-right: 15px;
                        color: #e12885;
                    }
                }
            }

            @media (max-width: 750px) {
                width: 98%;
            }
        }
    }
}
