[v-cloak] {
    display: none;
}

.wordIndex {
    position: absolute;
    width: 100%;

    h1 {
        margin: 0;
        padding: 0;
    }

    .userName {
        max-width: 940px;
        margin: 0 auto;
        padding: 0;

        .userNameBox {
          position: relative;
          width: 98%;
          margin: 0 auto;
          text-align: center;
          color: #777;
          background-color: #fff;
        }

        .userNameBox::before {
            z-index: 5;
            content: "";
            position:absolute;
            top: 0;
            left: 0;
            border-width: 15px;
            border-style: solid;
            border-color: rgba(225, 40, 133, 0.7);
            background-color: #fff;
            display:block; width:0;

        }

        .userNameBox::after {
            z-index: 5;
            content: "";
            position:absolute;
            bottom: 0;
            right: 0;
            border-width: 28px 28px 0 0 ;
            border-top-left-radius: 10px;
            border-style: solid;
            border-color: #c3cfe2 #eee #fff #fff;
            background: #bbb;
            display:block; width:0;
        }
    }

    ul {
        max-width: 940px;
        margin: 0 auto;
        padding: 0;

        li {
            position: relative;
            width: 48%;
            height: 140px;
            margin: 0 1%;
            float: left;
            display: block;
            list-style: none;
            border-radius: 10px;
            background-color: #fff;
            border-top: 1px solid gainsboro;

            .result-box {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;

                .result-box-text {

                    margin: 0 5px;

                    h1 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        // ２行目突入を禁止する
                        white-space: nowrap;
                        color: #333;
                    }

                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-top: 5px;
                        color: #333;
                        font-size: 1.4rem;
                    }

                    p.show-switch {
                        float: right;
                        margin: 2px 20px 0 0;
                        font-size: 1.6rem;
                    }

                    p.sampletext {
                        font-size: 1.8rem;
                    }

                    i {
                        font-size: 2.5rem;
                        float: right;
                        margin-top: 1px;
                        margin-right: 15px;
                        color: #e12885;
                    }
                }
            }

            @media (max-width: 750px) {
                width: 98%;
            }
        }

        .hole {
            position: absolute;
            z-index: 5px;
            bottom: 10px;
            right: 10px;
            width:  17px;
            height: 17px;
            border: 1px solid gainsboro;
            border-radius: 50%;
            background-color: #eee;
            box-shadow: 3px 3px 8px #ddd inset,
        }
    }
}
