header {
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  overflow: hidden;
  padding-bottom: 6px;
  border-bottom: 1px solid gainsboro;
  background-color: #fff;
}

header a {
  text-decoration: none;
}

header .row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

header .row .logo {
  font-size: 25px;
  color: #8f8f8f;
  line-height: 1;
  margin-bottom: 10px;
}

header .row .logo a {
  float: left;
  display: block;
  font-size: 35px;
  color: #8f8f8f;
}

header .row .logo .find .search-container {
  margin-top: 1px;
  margin-left: 10px;
  float: left;
  display: block;
  background-color: white;
  width: 240px;
  height: 30px;
  border: 1px gainsboro solid;
  border-radius: 15px;
}

header .row .logo .find .search-container input {
  vertical-align: top;
  margin: 0 0 0 10px;
  width: 160px;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: 0;
  font-size: 16px;
}

header .row .logo .find .search-container i {
  float: right;
  margin: 5px 8px 0 0;
  font-size: 2rem;
}

@media (max-width: 750px) {
  header .row .logo {
    float: none;
  }
}

header .row nav {
  float: right;
  width: 60%;
}

header .row nav ul {
  margin: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

header .row nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

@media (max-width: 750px) {
  header .row nav ul li {
    display: block;
    padding: 7px 0;
    margin: 0;
  }
}

header .row nav ul li.loginbutton {
  display: inline-block;
}

@media (max-width: 750px) {
  header .row nav ul li.loginbutton-last {
    margin-left: 35px;
  }
}

header .row nav ul p,
header .row nav ul a {
  margin: 0;
  color: #888888;
  text-transform: uppercase;
  font-size: 1.4rem;
}

header .row nav ul i {
  font-size: 3rem;
  color: #888888;
}

@media (max-width: 750px) {
  header .row nav ul i {
    font-size: 5rem;
  }
}

header .row nav ul button {
  padding: 0;
  font-size: 1.4rem;
  color: #888888;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@media (max-width: 750px) {
  header .row nav ul {
    padding: 0;
    text-align: center;
    float: none;
  }
}

@media (max-width: 750px) {
  header .row nav {
    width: 102%;
  }
}

header .row .mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
}

header .row .mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

@media (max-width: 750px) {
  header .row .mobile-toggle {
    margin-top: 5px;
    display: block;
  }
}

@media (max-width: 750px) {
  header {
    padding: 10px 0 10px 0;
  }
}

.login {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.login .login-box {
  width: 98%;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px #00CCAA solid;
}

.login .login-box .login-title {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #00CCAA;
}

.login .login-box .login-title h1 {
  margin: 0;
  margin-left: 30px;
  padding-top: 15px;
  color: #fff;
}

.login .login-box .login-title p {
  margin-top: 0px;
  margin-right: 15px;
  font-size: 1.4rem;
  padding-bottom: 5px;
  text-align: right;
  color: #fff;
}

.login .login-box .login-value-form {
  width: 94%;
  margin: 0 auto;
}

.login .login-box .login-value-form input {
  display: block;
  width: 90%;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5%;
  -webkit-appearance: none;
  outline: none;
  border: 1px solid gainsboro;
  border-radius: 0;
}

.login .login-box .login-value-form input[type=submit],
.login .login-box .login-value-form input[type=button] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  box-sizing: border-box;
}

.login .login-box .login-value-form input[type=submit]::-webkit-search-decoration,
.login .login-box .login-value-form input[type=button]::-webkit-search-decoration {
  display: none;
}

.login .login-box .login-value-form input[type=submit]:focus,
.login .login-box .login-value-form input[type=button]:focus {
  outline-offset: -2px;
}

.login .login-box .login-value-form input[type=submit] {
  margin-top: 60px;
  background-color: #00CCAA;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #00CCAA;
  color: #fff;
}

.login .login-box .login-value-form p {
  margin-bottom: 5px;
  font-size: 1.4rem;
  color: #00CCAA;
}

.login .login-box .login-value-form .invalid-feedback {
  font-size: 1.4rem;
  color: #e12885;
}

@media (max-width: 750px) {
  .login .login-box h1 {
    font-size: 2.5rem;
  }
}

.explain {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
  background-color: #fff;
  padding-bottom: 300px;
  font-size: 160%;
}

.explain p,
.explain h1,
.explain h2 {
  margin: 0;
  padding: 0;
  color: #777;
}

.explain p {
  font-weight: bold;
  font-size: 2.4rem;
}

@media (max-width: 750px) {
  .explain h1 {
    font-size: 1.8rem;
  }

  .explain h2 {
    font-size: 1.2rem;
  }

  .explain p {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

section {
  position: absolute;
  width: 100%;
  height: 3000%;
  z-index: 998;
  margin-top: 46px;
  background-color: rgba(0, 0, 0, 0.5);
}

section ul {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
}

section ul li {
  width: 48%;
  height: 70px;
  margin: 0 1%;
  float: left;
  display: block;
  list-style: none;
  background-color: #fff;
  border-bottom: 1px solid gainsboro;
}

section ul li .result-box {
  height: 65px;
  display: block;
  margin: 2%;
  overflow: hidden;
  color: #333;
}

section ul li .result-box h1 {
  width: 100%;
  font-size: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

section ul li .result-box .result-box-text {
  font-size: 1.4rem;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 750px) {
  section ul li {
    width: 98%;
  }
}

main {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 6px;
  margin: 0;
}

main h1,
main p {
  color: #333;
}

main .row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 10px 0 0 0;
  background-color: #fff;
}

main .row .top-image {
  padding-bottom: 15px;
}

main .row .top-image .image-heading {
  margin: 0 2%;
}

main .row .top-image .image-heading .image-heading-block-icon {
  display: block;
  float: left;
  background-color: rgba(200, 200, 200, 0.4);
}

main .row .top-image .image-heading .image-heading-block-icon i {
  width: 80%;
  color: #fff;
  font-size: 4.8rem;
}

@media (max-width: 750px) {
  main .row .top-image .image-heading .image-heading-block-icon i {
    font-size: 3.6rem;
  }
}

main .row .top-image .image-heading .image-heading-block-text {
  display: block;
  float: left;
  margin-left: 15px;
  margin-bottom: 5px;
}

main .row .top-image .image-heading .image-heading-block-text p {
  font-size: 1.3rem;
  margin: 0;
}

main .row .top-image .image-heading .image-heading-block-text .text1 {
  font-size: 1.8rem;
}

@media (max-width: 750px) {
  main .row .top-image .image-heading .image-heading-block-text p {
    font-size: 1rem;
  }

  main .row .top-image .image-heading .image-heading-block-text .text1 {
    font-size: 1.5rem;
  }
}

main .row .top-image .image-heading-image {
  position: relative;
  margin-bottom: 15px;
}

main .row .top-image .image-heading-image .title-box {
  position: absolute;
  margin: auto;
  top: 25%;
  left: 25%;
  width: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

main .row .top-image .image-heading-image .title-box h1 {
  font-size: 4.8rem;
  color: #fff;
}

main .row .top-image .image-heading-image .title-box p {
  font-size: 1.6rem;
  color: #fff;
}

@media (max-width: 750px) {
  main .row .top-image .image-heading-image .title-box h1 {
    font-size: 3.2rem;
    color: #fff;
  }

  main .row .top-image .image-heading-image .title-box p {
    font-size: 1.6rem;
    color: #fff;
  }
}

main .row .top-image .image-heading-image img {
  max-width: 100%;
  height: auto;
}

main .row .top-image .image-heading-text {
  padding: 0 2%;
}

main .row .top-image .image-heading-text p {
  font-size: 1.4rem;
}

@media (max-width: 750px) {
  main .row .top-image .image-heading-text p {
    font-size: 1.4rem;
  }
}

main .row .top-image .image-heading-text h1 {
  margin: 0;
}

main .row .top-image .image-heading-text i {
  color: #00CCAA;
  font-size: 1.6rem;
  float: left;
}

main .row .top-image .image-heading-text a {
  color: #00CCAA;
  font-size: 1.4rem;
  margin-left: 10px;
  text-decoration: none;
}

main .row .contents-box {
  margin: 0 auto;
  margin-top: 10px;
}

main .row .contents-box .content {
  display: block;
  float: left;
  width: 30.7%;
  margin-left: 2%;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid gainsboro;
}

main .row .contents-box .content h1 {
  font-size: 1.6rem;
  margin-bottom: 0;
}

main .row .contents-box .content i {
  margin: 25px;
  display: block;
  float: left;
  color: #888;
  font-size: 4.8rem;
}

main .row .contents-box .content .green {
  color: #00CCAA;
}

main .row .contents-box .content .content-text {
  display: block;
  float: left;
}

main .row .contents-box .content .content-text p {
  display: block;
  float: left;
}

@media (max-width: 750px) {
  main .row .contents-box .content {
    width: 96%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
}

main .row .content-foot {
  margin-top: 500px;
}

.myArticles {
  position: absolute;
  width: 100%;
}

.myArticles h1 {
  margin: 0;
  padding: 0;
}

.myArticles .userName {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.myArticles .userName .userNameBox {
  position: relative;
  width: 98%;
  margin: 0 auto;
  text-align: center;
  color: #777;
  background-color: #fff;
  border-bottom: 1px double gainsboro;
}

.myArticles .userName .userNameBox::before {
  z-index: 5;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 15px;
  border-style: solid;
  border-color: rgba(0, 204, 170, 0.5);
  background-color: #fff;
  display: block;
  width: 0;
}

.myArticles .userName .userNameBox::after {
  z-index: 5;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 28px 28px 0 0;
  border-top-left-radius: 10px;
  border-style: solid;
  border-color: #c3cfe2 #eee #fff #fff;
  background: #bbb;
  display: block;
  width: 0;
}

.myArticles ul {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.myArticles ul li {
  position: relative;
  width: 48%;
  height: 110px;
  margin: 0 1%;
  float: left;
  display: block;
  list-style: none;
  border-radius: 10px;
  background-color: #fff;
  border-top: 1px solid gainsboro;
}

.myArticles ul li .result-box {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.myArticles ul li .result-box .result-box-text {
  margin: 0 5px;
}

.myArticles ul li .result-box .result-box-text h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}

.myArticles ul li .result-box .result-box-text a {
  margin-top: 5px;
  color: #333;
  font-size: 1.6rem;
  text-decoration: none;
}

.myArticles ul li .result-box .result-box-text .buttons {
  float: right;
}

.myArticles ul li .result-box .result-box-text .buttons form {
  display: inline-block;
}

.myArticles ul li .result-box .result-box-text .buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.myArticles ul li .result-box .result-box-text .buttons i {
  margin-right: 15px;
  font-size: 2.5rem;
  color: #e12885;
}

@media (max-width: 750px) {
  .myArticles ul li {
    width: 98%;
  }
}

.myArticles ul .article-fold {
  z-index: 5;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 24px 72px 0 0;
  border-top-left-radius: 10px;
  border-style: solid;
  border-color: #c3cfe2 #eee #fff #fff;
  background: #bbb;
  display: block;
  width: 0;
  box-shadow: 2px -2px 12px 3px #eee;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 6px;
  border-top: 1px solid gainsboro;
  background-color: #fff;
}

footer a {
  text-decoration: none;
}

footer .row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

footer .row li {
  float: left;
  width: 20%;
  padding-bottom: 15px;
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
  border-left: 1px solid gainsboro;
}

footer .row li:last-child {
  border-right: 1px solid gainsboro;
}

footer .row li div,
footer .row li a {
  color: #888888;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
}

.dictionary p {
  color: #333;
}

.dictionary .dictionary-card {
  z-index: 5;
  position: fixed;
  right: 50px;
  top: 100px;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 8px #00CCAA;
  -webkit-transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  border-radius: 25px;
  background-color: #fff;
}

.dictionary .dictionary-card .highlight-box h1 {
  text-align: center;
  color: #555;
}

.dictionary .dictionary-card .highlight-box .color-image {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  width: 52px;
  height: 52px;
  background-color: #bbb;
}

.dictionary .dictionary-card .dictionary-header {
  pointer-events: none;
  margin-top: 10px;
  margin-right: 20px;
}

.dictionary .dictionary-card .dictionary-header i {
  float: right;
  font-size: 2rem;
}

.dictionary .dictionary-card .dictionary-text {
  pointer-events: none;
  margin: 0px 15px;
}

.dictionary .dictionary-card .dictionary-text .dictionary-title {
  margin-top: 30px;
  height: 15px;
  text-align: center;
  font-size: 20px;
}

.dictionary .dictionary-card .dictionary-text .dictionary-title p {
  margin-bottom: 0px;
}

.dictionary .dictionary-card .dictionary-text .dictionary-article {
  height: 115px;
  font-size: 1.4rem;
  overflow: hidden;
}

.dictionary .dictionary-card .dictionary-text .dictionary-article p {
  margin-top: 10px;
}

.dictionary .dictionary-card .dictionary-footer {
  pointer-events: none;
  margin: 10px 15px;
}

.dictionary .dictionary-card .dictionary-footer i {
  float: left;
  font-size: 3rem;
}

.dictionary .dictionary-card .dictionary-footer p {
  float: left;
  font-size: 1.4rem;
  margin-top: 5px;
  margin-left: 10px;
}

@media (max-width: 750px) {
  .dictionary .dictionary-card {
    right: 5%;
    top: 2%;
  }
}

[v-cloak] {
  display: none;
}

.wordIndex {
  position: absolute;
  width: 100%;
}

.wordIndex h1 {
  margin: 0;
  padding: 0;
}

.wordIndex .userName {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.wordIndex .userName .userNameBox {
  position: relative;
  width: 98%;
  margin: 0 auto;
  text-align: center;
  color: #777;
  background-color: #fff;
}

.wordIndex .userName .userNameBox::before {
  z-index: 5;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 15px;
  border-style: solid;
  border-color: rgba(225, 40, 133, 0.7);
  background-color: #fff;
  display: block;
  width: 0;
}

.wordIndex .userName .userNameBox::after {
  z-index: 5;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 28px 28px 0 0;
  border-top-left-radius: 10px;
  border-style: solid;
  border-color: #c3cfe2 #eee #fff #fff;
  background: #bbb;
  display: block;
  width: 0;
}

.wordIndex ul {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.wordIndex ul li {
  position: relative;
  width: 48%;
  height: 140px;
  margin: 0 1%;
  float: left;
  display: block;
  list-style: none;
  border-radius: 10px;
  background-color: #fff;
  border-top: 1px solid gainsboro;
}

.wordIndex ul li .result-box {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.wordIndex ul li .result-box .result-box-text {
  margin: 0 5px;
}

.wordIndex ul li .result-box .result-box-text h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}

.wordIndex ul li .result-box .result-box-text p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  color: #333;
  font-size: 1.4rem;
}

.wordIndex ul li .result-box .result-box-text p.show-switch {
  float: right;
  margin: 2px 20px 0 0;
  font-size: 1.6rem;
}

.wordIndex ul li .result-box .result-box-text p.sampletext {
  font-size: 1.8rem;
}

.wordIndex ul li .result-box .result-box-text i {
  font-size: 2.5rem;
  float: right;
  margin-top: 1px;
  margin-right: 15px;
  color: #e12885;
}

@media (max-width: 750px) {
  .wordIndex ul li {
    width: 98%;
  }
}

.wordIndex ul .hole {
  position: absolute;
  z-index: 5px;
  bottom: 10px;
  right: 10px;
  width: 17px;
  height: 17px;
  border: 1px solid gainsboro;
  border-radius: 50%;
  background-color: #eee;
  box-shadow: 3px 3px 8px #ddd inset;
}

.word-button {
  position: fixed;
  right: 15%;
  bottom: 15%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 8px #bbb;
}

.word-button i {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 6rem;
  color: #fff;
}

@media (max-width: 750px) {
  .word-button i {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 4rem;
  }
}

@media (max-width: 750px) {
  .word-button {
    right: 7%;
    bottom: 10%;
    width: 70px;
    height: 70px;
  }
}

.word-index-button {
  background-color: #00CCAA;
}

.word-article-button {
  background-color: #e12885;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

