header {
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  overflow: hidden;
  padding-bottom: 6px;
  border-bottom: 1px solid gainsboro;
  background-color: #fff;
}

header a {
  text-decoration: none;
}

header .row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

header .row .logo {
  font-size: 25px;
  color: #8f8f8f;
  line-height: 1;
  margin-bottom: 10px;
}

header .row .logo a {
  float: left;
  display: block;
  font-size: 35px;
  color: #8f8f8f;
}

header .row .logo .find .search_container {
  margin-top: 1px;
  margin-left: 10px;
  float: left;
  display: block;
  background-color: white;
  width: 255px;
  height: 30px;
  border: 1px gainsboro solid;
  border-radius: 15px;
}

header .row .logo .find .search_container input {
  vertical-align: top;
  margin: 0 0 0 10px;
  width: 160px;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  outline: 0;
  font-size: 16px;
}

header .row .logo .find .search_container i {
  float: right;
  margin: 5px 8px 0 0;
  font-size: 2rem;
}

@media (max-width: 320px) {
  header .row .logo .find .search_container {
    width: 200px;
  }
}

@media (max-width: 750px) {
  header .row .logo {
    float: none;
  }
}

header .row nav {
  float: right;
  width: 60%;
}

header .row nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

header .row nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

@media (max-width: 750px) {
  header .row nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}

header .row nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 1.2rem;
}

@media (max-width: 750px) {
  header .row nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 750px) {
  header .row nav {
    width: 100%;
  }
}

header .row .mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
}

header .row .mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

@media (max-width: 750px) {
  header .row .mobile-toggle {
    margin-top: 5px;
    display: block;
  }
}

@media (max-width: 750px) {
  header {
    padding: 10px 0 10px 0;
  }
}

section {
  position: absolute;
  width: 100%;
  height: 3000%;
  z-index: 998;
  margin-top: 46px;
  background-color: rgba(0, 0, 0, 0.5);
}

section ul {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
}

section ul li {
  width: 48%;
  height: 70px;
  margin: 0 1%;
  float: left;
  display: block;
  list-style: none;
  background-color: #fff;
  border-bottom: 1px solid gainsboro;
}

section ul li .result-box {
  height: 65px;
  display: block;
  margin: 2%;
  overflow: hidden;
  color: #333;
}

section ul li .result-box h1 {
  width: 100%;
  font-size: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

section ul li .result-box .result-box-text {
  font-size: 1.4rem;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 750px) {
  section ul li {
    width: 98%;
  }
}

main {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 6px;
  margin: 0;
}

main h1,
main p {
  color: #333;
}

main .row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 10px 0 0 0;
  background-color: #fff;
}

main .row .top-image {
  padding-bottom: 15px;
}

main .row .top-image .image-heading {
  margin: 0 2%;
}

main .row .top-image .image-heading .image-heading-block-icon {
  display: block;
  float: left;
  background-color: rgba(200, 200, 200, 0.4);
}

main .row .top-image .image-heading .image-heading-block-icon i {
  width: 80%;
  color: #fff;
  font-size: 4.8rem;
}

@media (max-width: 750px) {
  main .row .top-image .image-heading .image-heading-block-icon i {
    font-size: 3.6rem;
  }
}

main .row .top-image .image-heading .image-heading-block-text {
  display: block;
  float: left;
  margin-left: 15px;
  margin-bottom: 5px;
}

main .row .top-image .image-heading .image-heading-block-text p {
  font-size: 1.3rem;
  margin: 0;
}

main .row .top-image .image-heading .image-heading-block-text .text1 {
  font-size: 1.8rem;
}

@media (max-width: 750px) {
  main .row .top-image .image-heading .image-heading-block-text p {
    font-size: 1rem;
  }

  main .row .top-image .image-heading .image-heading-block-text .text1 {
    font-size: 1.5rem;
  }
}

main .row .top-image .image-heading-image {
  position: relative;
  margin-bottom: 15px;
}

main .row .top-image .image-heading-image .title-box {
  position: absolute;
  margin: auto;
  top: 25%;
  left: 25%;
  width: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

main .row .top-image .image-heading-image .title-box h1 {
  font-size: 4.8rem;
  color: #fff;
}

main .row .top-image .image-heading-image .title-box p {
  font-size: 1.6rem;
  color: #fff;
}

@media (max-width: 750px) {
  main .row .top-image .image-heading-image .title-box h1 {
    font-size: 3.2rem;
    color: #fff;
  }

  main .row .top-image .image-heading-image .title-box p {
    font-size: 1.6rem;
    color: #fff;
  }
}

main .row .top-image .image-heading-image img {
  max-width: 100%;
  height: auto;
}

main .row .top-image .image-heading-text {
  padding: 0 2%;
}

main .row .top-image .image-heading-text p {
  font-size: 1.4rem;
}

@media (max-width: 750px) {
  main .row .top-image .image-heading-text p {
    font-size: 1rem;
  }
}

main .row .top-image .image-heading-text h1 {
  margin: 0;
}

main .row .top-image .image-heading-text i {
  color: #1E90FF;
  font-size: 1.6rem;
  float: left;
}

main .row .top-image .image-heading-text a {
  color: #1E90FF;
  font-size: 1.4rem;
  margin-left: 10px;
  text-decoration: none;
}

main .row .contents-box {
  margin: 0 auto;
  margin-top: 10px;
}

main .row .contents-box .content {
  display: block;
  float: left;
  width: 30.7%;
  margin-left: 2%;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid gainsboro;
}

main .row .contents-box .content h1 {
  margin-bottom: 0;
}

main .row .contents-box .content i {
  margin: 25px;
  display: block;
  float: left;
  color: #888;
  font-size: 4.8rem;
}

main .row .contents-box .content .yellow {
  color: #FFBF11;
}

main .row .contents-box .content .orange {
  color: #FF5A36;
}

main .row .contents-box .content .green {
  color: #009999;
}

main .row .contents-box .content .content-text {
  display: block;
  float: left;
}

main .row .contents-box .content .content-text p {
  display: block;
  float: left;
}

@media (max-width: 750px) {
  main .row .contents-box .content {
    width: 96%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
}

main .row .content-foot {
  margin-top: 500px;
}

.myArticles {
  position: absolute;
  width: 100%;
}

.myArticles h1 {
  margin: 0;
  padding: 0;
}

.myArticles .userName {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.myArticles .userName .userNameBox {
  width: 98%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px double gainsboro;
}

.myArticles ul {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.myArticles ul li {
  width: 48%;
  height: 100px;
  margin: 0 1%;
  float: left;
  display: block;
  list-style: none;
  background-color: #fff;
  border-bottom: 1px solid gainsboro;
}

.myArticles ul li .result-box {
  display: block;
  margin: 2%;
  overflow: hidden;
  color: black;
}

.myArticles ul li .result-box h1 {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: #555;
  margin: 0;
}

.myArticles ul li .result-box h1 a {
  text-decoration: none;
  color: #555;
}

.myArticles ul li .result-box p {
  margin-top: 0;
}

@media (max-width: 750px) {
  .myArticles ul li {
    width: 98%;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 6px;
  border-top: 1px solid gainsboro;
  background-color: #fff;
}

footer a {
  text-decoration: none;
}

footer .row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

footer .row li {
  float: left;
  width: 25%;
  padding-bottom: 15px;
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
  border-left: 1px solid gainsboro;
}

footer .row li:last-child {
  border-right: 1px solid gainsboro;
}

footer .row li div,
footer .row li a {
  color: #888888;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
}

.dictionary p {
  color: #333;
}

.dictionary .dictionary-card {
  z-index: 5;
  position: fixed;
  right: 50px;
  top: 100px;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 8px #668AD8;
  border-radius: 25px;
  background-color: #fff;
}

.dictionary .dictionary-card .dictionary-header {
  margin-top: 10px;
  margin-right: 20px;
}

.dictionary .dictionary-card .dictionary-header i {
  float: right;
  font-size: 2rem;
}

.dictionary .dictionary-card .dictionary-text {
  margin: 0px 15px;
}

.dictionary .dictionary-card .dictionary-text .dictionary-title {
  margin-top: 30px;
  height: 15px;
  text-align: center;
  font-size: 20px;
}

.dictionary .dictionary-card .dictionary-text .dictionary-title p {
  margin-bottom: 0px;
}

.dictionary .dictionary-card .dictionary-text .dictionary-article {
  height: 115px;
  font-size: 1.4rem;
  overflow: hidden;
}

.dictionary .dictionary-card .dictionary-text .dictionary-article p {
  margin-top: 10px;
}

.dictionary .dictionary-card .dictionary-footer {
  margin: 10px 15px;
}

.dictionary .dictionary-card .dictionary-footer i {
  float: left;
  font-size: 3rem;
}

.dictionary .dictionary-card .dictionary-footer p {
  float: left;
  font-size: 1.4rem;
  margin-top: 5px;
  margin-left: 10px;
}

@media (max-width: 750px) {
  .dictionary .dictionary-card {
    right: 5%;
    top: 12%;
  }
}

html {
  font-size: 62.5%;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

